.header {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;
}

.header__preloader {
    margin-right: 15px;
}

.header__logo {
    height: 1.5em;
    margin-left: 10px;
}

.header__commandBar {
    flex: 1 1 auto;
}