.app-preview {
    background: #222;
    color: #ccc;
    max-height: 640px;
    height: 50%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 10pt;
}

.app-preview__error {
    color: white;
    background: #cc0000;
}

.app-preview__epilogue {
    color: #999;
    margin-top: 15px;
}