.app-Console {
  flex: 1 1 auto;
  position: relative;
  box-sizing: border-box;

  --terminal-padding-x: 15px;
}

.app-Console__xterm {
  position: absolute;
  inset: 0;
}

.app-Console .terminal > * {
  padding: 0 var(--terminal-padding-x);
}

/**
 xterm.js canvas plugin fixes.

 The plugin places a few canvas elements inside with absolute positioning
 relative to parent and doesn't respect parent's paddings.
 */
.app-Console .xterm .xterm-screen canvas {
  transform: translate3d(var(--terminal-padding-x), 0, 0);
}
