.RunOutput {
  box-sizing: border-box;
  overflow: auto;
}

.RunOutput__content {
  font-size: 10pt;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

/** Errors & Messages */
.RunOutput__error {
  color: white;
  background: #cc0000;
}

.RunOutput__build-error {
  margin: 0 0 5px;
}

/** Misc **/

.RunOutput__label {
  display: block;
  margin-bottom: 2px;
}

.RunOutput__errors {
  margin: 0;
  padding: 0;
  font: inherit;
  word-wrap: break-word;
  white-space: break-spaces;
}

.RunOutput__progress {
  position: relative;
  bottom: 8px;
  margin-bottom: -18px;
}

.RunOutput__progress--hidden {
  display: none;
}
