.Notification {
  background: red;
  margin: 10px 10px 0;
  box-sizing: border-box;
  padding: 0.75rem;
}

.Notification__Header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Notification__Icon {
  margin-right: 5px;
  margin-bottom: -2px;
}

.Notification__Controls {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Notification__Content + .Notification__Progress {
  margin-top: .3rem;
}

.Notification__Container {
  padding-top: .8rem;
  margin-bottom: .4rem;
}

