.StatusBarItem {
  color: #fff;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  height: 100%;
  padding: 0 5px;
  white-space: pre;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  outline-width: 0;
  margin: 0 3px;
  text-decoration: none;
}

.StatusBarItem--action {
  cursor: pointer;
}

.StatusBarItem--text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.StatusBarItem__label {
  font-size: 12px;
}

.StatusBarItem__icon {
  font-size: 12px;
}

.StatusBarItem__icon--image {
  height: 12px;
}

.StatusBarItem__icon--image+.StatusBarItem__label,
.StatusBarItem__icon+.StatusBarItem__label {
  margin-left: 0.4em;
}

.StatusBarItem--action:not([disabled]):hover {
  background: rgba(255, 255, 255, 0.1);
}

.StatusBarItem--action:not([disabled]):active {
  background: rgba(255, 255, 255, 0.2);
}

.StatusBarItem--action[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.StatusBarItem__counter__label {
  margin-left: 0.2em;
}

@media (max-width: 639px) {
  .StatusBarItem--mobileIconOnly .StatusBarItem__label {
    display: none;
  }

  .StatusBarItem--mobileTextOnly .StatusBarItem__label {
    margin-left: 0;
  }

  .StatusBarItem--mobileTextOnly .StatusBarItem__icon--image,
  .StatusBarItem--mobileTextOnly .StatusBarItem__icon {
    display: none;
  }

  .StatusBarItem--mobileHidden {
    display: none;
  }

  .StatusBarItem__counter__label {
    display: none;
  }
}
