.app-preview {
  box-sizing: border-box;
  overflow: auto;
}

.app-preview__content {
  padding: 0 15px 15px 15px;
  font-size: 10pt;
}

.app-preview__error {
  color: white;
  background: #cc0000;
}

.app-preview__epilogue {
  color: #999;
  margin-top: 15px;
}

.app-preview__build-error {
  margin: 0 0 5px;
}

.app-preview__label {
  display: block;
  margin-bottom: 2px;
}

.app-preview__errors {
  margin: 0;
  padding: 0;
  font: inherit;
  word-wrap: break-word;
  white-space: break-spaces;
}

.app-preview__progress {
  position: relative;
  bottom: 8px;
  margin-bottom: -18px;
}

.app-preview__progress--hidden {
  display: none;
}
