.app-preview {
  box-sizing: border-box;
  overflow: auto;
}

.app-preview__content {
  font-size: 10pt;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

/** Terminal */
.app-preview__terminal {
  margin: 0 -15px;
}

.app-preview__terminal,
.app-preview__terminal > .xterm {
  font-size: 9.75pt;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-preview__terminal .xterm {
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}

/** Errors & Messages */
.app-preview__error {
  color: white;
  background: #cc0000;
}

.app-preview__build-error {
  margin: 0 0 5px;
}

/** Misc **/

.app-preview__label {
  display: block;
  margin-bottom: 2px;
}

.app-preview__errors {
  margin: 0;
  padding: 0;
  font: inherit;
  word-wrap: break-word;
  white-space: break-spaces;
}

.app-preview__progress {
  position: relative;
  bottom: 8px;
  margin-bottom: -18px;
}

.app-preview__progress--hidden {
  display: none;
}
