# Temporary files
.terraform
*.backup
*.tfstate

# Lock file not needed for examples.
.terraform.lock.hcl

# HCL vars except example
*.tfvars
!example.tfvars

# Temporary plan options
tplan
tfplan
*.tplan
